<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SenaExSIMSMiniEdition.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SenaExSIMSMiniEdition.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SenaExSIMSMiniEdition.Properties.Settings.senaexminidbConnectionString"
            connectionString="server=localhost;user id=root;password=7010850;persistsecurityinfo=True;database=senaexminidb"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SenaExSIMSMiniEdition.Properties.Settings>
            <setting name="UserKey" serializeAs="String">
                <value />
            </setting>
        </SenaExSIMSMiniEdition.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SenaExSIMSMiniEdition.Properties.Settings>
            <setting name="AppKey" serializeAs="String">
                <value>702129457010850</value>
            </setting>
        </SenaExSIMSMiniEdition.Properties.Settings>
    </applicationSettings>
</configuration>